<% if current_user.own_artist?(artist) %>
  <div style='display: inline; float: right;'>
    <% link_to icon('fas', 'pen'), edit_artist_path(artist), id: :"button-edit-#{artist.id}" %>
    <% link_to icon('fas', 'trash-alt'),artist_path(artist), id: :"button-delete-#{artist.id},method: :delete, date: { confirm: '削除よろしいですか？' }" %>
  </div>
<% else %>
  <div style='display: inline; float: right;'>
    <%= render 'artists/bookmark_area', artist: artist %>
  </div>
<% end %>