.artist-account-form {
  border: ridge;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 10px;
  max-width: 70vw;
}

.artist-sign-up {
  margin: auto;
  width: 50vw;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
  background-color: crimson;
}

.artist-field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.artistname {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.artist-image {
  height: 20px;
  width: 30vw;
  padding-left: 5vw;
  font-size: 10px;
  text-align: center;
  border: solid 3px black;
}

.artist-email {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.artist-password {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.artist-birthday {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.artist-gender {
  width: 20px;
  height: 20px;
  margin: 10px;
  vertical-align: middle;
  border: ridge;
  border-radius: 100px;
  border-color: black;
  font-size: small;
}

.signup-actions {
  margin: auto;
  display: flex;
  justify-content: center;
}

.signup-submit {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  color: whitesmoke;
  background-color: crimson;
}

.signup-submit:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  display: inline-block;
  background-color: green;
}

.signup-return:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return-submit {
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.artist-errors {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: crimson;
}

.artist-explanation {
  margin: 5px;
  color: black;
}

.artist-error-message {
  font-weight: bold;
  font-size: small;
  color: crimson;
}

.artist-optional {
  margin: auto;
  margin-bottom: 5px;
  width: 50vw;
  color: whitesmoke;
  font-size: small;
  font-weight: bold;
  background-color: blue;
}

.discography-field {
  display: flex;
  justify-content: center;
}

.fa-compact-disc {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.artist-discography {
  height: 70px;
  width: 35vw;
  margin-bottom: 5px;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-twitter-square {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.fa-facebook {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.fa-instagram-square {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.sns-link {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.sns-field {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}