.artist-account-form {
  border: ridge;
  text-align: center;
  display: block;
  margin: auto;
  margin-top: auto;
  width: 50vh;
  height: 100vh;
  padding: 20px;
}

.artist-sign-up {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 30px;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
  background-color: crimson;
}

.artist-field {
  display: flex;
  margin-top: 0px;
  justify-content: center;
}

.artistname {
  height: 20px;
  width: 35vw;
  border: ridge;
  border-color: black;
  text-align: center;
  font-size: small;
}

.artist-image {
  height: 20px;
  width: 35vw;
  border: ridge;
  border-color: black;
  font-size: x-small;
}

.artist-email {
  height: 20px;
  width: 35vw;
  text-align: center;
  border: ridge;
  border-color: black;
  font-size: small;
}

.artist-password {
  height: 20px;
  width: 35vw;
  text-align: center;
  border: ridge;
  border-color: black;
  font-size: small;
}

.artist-birthday {
  height: 20px;
  width: 35vw;
  text-align: center;
  border: ridge;
  border-color: black;
  font-size: small;
}

.artist-gender {
  width: 20px;
  height: 20px;
  margin: 10px;
  vertical-align: middle;
  border: ridge;
  border-radius: 100px;
  border-color: black;
  font-size: small;
}

.signup-actions {
  display: flex;
  justify-content: center;
}

.signup-submit {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  color: whitesmoke;
  background-color: crimson;
}

.signup-submit:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  display: inline-block;
  background-color: green;
}

.signup-return:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return-submit {
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.artist-errors {
  display: block;
  margin: auto;
  margin-top: auto;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  font-size: small;
  color: crimson;
}

.artist-explanation {
  margin: 5px;
  color: black;
}

.artist-error-message {
  font-weight: bold;
  font-size: small;
  color: crimson;
}

.artist-optional {
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
  color: whitesmoke;
  background-color: blue;
  font-size: small;
  font-weight: bold;
}

.discography-field {
  display: flex;
  margin-top: 5px;
  text-align: center;
  justify-content: center;
}

.fa-compact-disc {
  padding: 5px;
  color: #f7f3eb;
  background: #676056;
}

.artist-discography {
  height: 70px;
  width: 35vw;
  border: ridge;
  border-color: black;
  text-align: center;
  font-size: small;
}

.fa-twitter-square {
  padding: 5px;
  margin-top: 1px;
  color: #f7f3eb;
  background: #676056;
}

.fa-facebook {
  padding: 5px;
  margin-top: 1px;
  color: #f7f3eb;
  background: #676056;
}

.fa-instagram-square {
  padding: 5px;
  margin-top: 1px;
  color: #f7f3eb;
  background: #676056;
}

.sns-link {
  height: 20px;
  width: 35vw;
  border: ridge;
  border-color: black;
  text-align: center;
  font-size: small;
}

.sns-field {
  display: flex;
  margin-top: 5px;
  justify-content: center;
}