.follow-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: lightgray;
  transition: 0.1s;
}

.follow-btn:hover {
  color: crimson;
  font-weight: bold;
  background-color: lightpink;
}

.unfollow-btn {
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  background-color: lightgray;
  transition: 0.1s;
}

.unfollow-btn:hover {
  color: crimson;
  font-weight: bold;
  background-color: lightblue;
}

.count-form {
  font-weight: bold;
}

.count-path {
  margin: 5px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  transition: 0.1s;
}

.count-path:hover {
  padding: 5px;
  border-radius: 10px;
  color: crimson;
  background-color: lightgreen;
}