<%= month_calendar events: @user_events do |date, event| %>
<%= date.day %>
  <% event.each do |event| %>
    <div>
      <%= link_to "🚩 #{event.title}", event %><br>
      <%#= link_to current_user.nickname, event %>
    </div>
  <% end %>
<% end %>