<%#= å„ã‚¢ã‚«ã‚¦ãƒ³ãƒˆã®ã‚«ãƒ¬ãƒ³ãƒ€ãƒ¼ã‚’è¡¨ç¤º %>
<%= month_calendar events: @events do |date, event| %>
<%= date.day %>
  <% event.each do |event| %>
    <div>
      <%= link_to "ðŸš© #{event.title}", event, class: "events-title" %><br>
    </div>
  <% end %>
<% end %>