<%#= уГжуГ╝уВ╢уГ╝уБоуВлуГмуГ│уГАуГ╝уВТшбичд║ %>
<div>тнРя╕Пф╗КцЬИуБоуВлуГмуГ│уГАуГ╝тнРя╕П</div>
<%= month_calendar events: @user_events do |date, event| %>
<%= date.day %>
  <% event.each do |event| %>
    <div>
      <%= link_to "ЁЯЪй #{event.title}", event, class:"event-user-title" %><br>
    </div>
  <% end %>
<% end %>
