<%= month_calendar events: @user_events do |date, event| %>
<%= date.day %>
  <% event.each do |event| %>
    <div>
      <%= link_to "🚩 #{event.title}", event, class:"event-user-title" %><br>
    </div>
  <% end %>
<% end %>
