.log-in-var {
  display: flex;
  align-items: center;
  background-color: khaki;
  justify-content: space-between;
}

.title {
  color: brown;
  font-size: large;
  padding: 10px;
  margin-left: 35px;
  margin-right: 35px;

}

.notice {
  padding: 10px;
  color: crimson;
}

.user-name {
  padding: 10px;
  text-decoration: none;
}

.artist-name {
  padding: 10px;
  text-decoration: none;
}

.log-out {
  padding: 10px;
  text-decoration: none;
}
