.log-in-var {
  display: flex;
  margin: 10px;
  align-items: center;
  background-color: khaki;
  justify-content: space-between;
}

.title {
  font-size: large;
  color: brown;
  padding: 10px;
}

.notice {
  color: crimson;
  width: 20vw;
  padding: 10px;
}

.user-name {
  padding: 10px;
  text-decoration: none;
}

.artist-name {
  padding: 10px;
  text-decoration: none;
}

.log-out {
  padding: 10px;
  text-decoration: none;
}
