.log-in-var {
  display: flex;
  align-items: center;
  background-color: #FFE4C4;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  color: purple;
  font-size: large;
  font-weight: bold;
  padding: 10px;
  margin-left: 20px;
  margin-right: 5px;
}

.notice {
  color: crimson;
  overflow: scroll;
}

.login-form {
  display: flex;
  justify-content: space-between;
}

.login-name {
  color: crimson;
  font-weight: bold;
  text-decoration: none;
}

.logout-btn {
  color: crimson;
  font-weight: bold;
  text-decoration: none;
}


.user-name {
  padding: 3px;
  margin-left: 5px;
  margin-right: 20px;
  font-size: small;
  border-radius: 10px;
  border: solid 2px blue;
  background-color: palegreen;
  transition: 0.5s;
}

.user-name:hover {
  background-color: lightblue;
}

.artist-name {
  padding: 3px;
  margin-left: 5px;
  margin-right: 20px;
  font-size: small;
  border-radius: 10px;
  border: solid 2px blue;
  background-color: palegreen;
  transition: 0.5s;
}

.artist-name:hover {
  background-color: lightblue;
}

.log-out {
  padding: 3px;
  margin-left: 20px;
  font-size: small;
  border-radius: 10px;
  border: solid 2px blue;
  background-color: palegreen;
  transition: 0.5s;
}

.log-out:hover {
  background-color: lightblue;
}

/* .event-return {
  margin-left: 20px;
  margin-right: 20px;
  border: ridge;
  border-radius: 5px;
  border-color: black;
  display: inline-block;
  background-color: green;
  text-decoration: none;
}

.event-return-submit {
  padding-left: 10px;
  padding-right: 10px;
  color: whitesmoke;
  text-decoration: none;
} */

.top-btn {
  color:black;
  text-decoration: none;
}

.return-btn {
  text-decoration: none;
  margin: 10px;
  margin-right: 20px;
  padding: 3px;
  font-size: small;
  border-radius: 10px;
  border: solid 2px blue;
  background-color: palegreen;
  transition: 0.5s;
}

.return-btn:hover {
  background-color: lightblue;
}