.top {
  width: 100vw;
  height: 100%;
  position: relative;/*相対配置*/
  background-color: lightblue;
}

.top img {
  width: 100vw;
  height: 100%;
  }

.top-title {
  top: 17%;
  left: 50%;
  margin:auto;
  display: block;
  font-size: 25px;
  font-weight: bold;
  /* translateで文字分のズレを補正 */
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  position: absolute;/*絶対配置*/
}

.top-name {
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
}


.app-title {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}

.sign-up {
  padding: 7px;
  display: block;
  color: crimson;
  text-decoration: none;
}

.log-in {
  padding: 7px;
  display: block;
  color: crimson;
  text-decoration: none;
}

.sign-up-btn {
  min-width: 25vw;
  text-align: center;
}

.sign-up-btn:hover {
  transition: 0.5s;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
}

.log-in-btn {
  min-width: 25vw;
  text-align: center;
}

.log-in-btn:hover {
  transition: 0.5s;
  font-weight: bold;
  background-color: lightgoldenrodyellow;
}

.attention-var {
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  align-items: center;
  background-color: lightblue;
}

.attention-point {
  color: crimson;
  font-size: large;
}


.fa-chevron-down {
  color: #eaeaea;
  margin-left: 15px;
  margin-right: 15px;
}

/*フォーム全体*/
.sign-in-form {
  margin: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

.form {
  padding: 0;
}

/*ラベル*/
.form label {
  display: block;
  opacity: 0.7;
  padding : 7px;
  font-size: 13px;
  cursor :pointer;
  transition: all 0.5s;
  /* width: 50vw; */
  text-align: center;
  background-color: lightblue;
}

/*ラベルホバー時*/
.form label:hover {
  opacity: 1;
  background :lightskyblue;
}

/*チェックボックスを隠す*/
.form input {
  display: none;
}

.show {
  display: flex;
  justify-content: space-around;
}

/*中身を非表示にしておく*/
.form .show  {
  height: 0;
  padding: 0;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}

/*クリックで中身表示*/
.css-click:checked + .show {
  height: auto;
  opacity: 0.7;
  background: #eaeaea;
}

.css-click:checked + .show:hover {
  height: auto;
  opacity: 1;
  background: #eaeaea;
}
