.event-edit {
  margin: auto;
  padding: 5px;
  width: 60vw;
  border-radius: 5px;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
  background-color: crimson;
  justify-content: center;
}