.user-account-form {
  border: ridge;
  text-align: center;
  justify-content: center;
  margin: auto;
  padding: 20px;
  max-width: 70vw;
}

.user-sign-up {
  margin: auto;
  width: 50vw;
  color: whitesmoke;
  font-size: large;
  font-weight: bold;
  background-color: crimson;
}

.form-text {
  margin-top: 5px;
  font-size: small;
  font-weight: bold;
}

.user-field {
  display: flex;
  justify-content: center;
}

.fa-user {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.nickname {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-image {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.user-image {
  height: 20px;
  width: 35vw;
  font-size: 10px;
  text-align: center;
  border: solid 3px black;
}

.fa-envelope-square {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.user-email {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-lock {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.user-password {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-crown {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.user-hobby {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-birthday-cake {
  padding: 5px;
  color: whitesmoke;
  background: black;
}

.user-birthday {
  height: 20px;
  width: 35vw;
  font-size: small;
  text-align: center;
  border: solid 3px black;
}

.fa-male {
  padding: 10px;
  margin-top: 1px;
  margin-left: 10px;
  margin-right: 10px;
  color: whitesmoke;
  background: black;
}

.fa-female {
  padding: 9.5px;
  margin-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
  color: whitesmoke;
  background: black;
}

.user-gender {
  width: 20px;
  height: 20px;
  margin: 10px;
  vertical-align: middle;
  border: ridge;
  border-radius: 100px;
  border-color: black;
  font-size: small;
}

.optional {
  padding: 3px;
  margin-bottom: 2px;
  color: whitesmoke;
  background-color: crimson;
}

.signup-actions {
  margin: auto;
  display: flex;
  justify-content: center;
}

.signup-submit {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  color: whitesmoke;
  background-color: crimson;
}

.signup-submit:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  border: ridge;
  border-color: black;
  display: inline-block;
  background-color: green;
}

.signup-return:active {
  -webkit-transform: translateY(3px);
  transform: translateY(3px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.signup-return-submit {
  padding-left: 20px;
  padding-right: 20px;
  color: whitesmoke;
  text-decoration: none;
}

.user-errors {
  display: block;
  margin: auto;
  text-align: center;
  font-weight: bold;
  font-size: small;
  color: crimson;
}

.user-explanation {
  margin: 5px;
  color: black;
}

.user-error-message {
  font-weight: bold;
  font-size: small;
  color: crimson;
}
