.artist-icon {
  border-radius: 100px;
}
.artist-form{
  display: flex;
  list-style: none;
  align-items: flex-end;
  justify-content: space-around;
}
.artist-profile {
  display: flex;
  padding: 10px;
  list-style: none;
  text-align: center;
  justify-content: space-around;
}
.discography{
  width: 55vh;
  text-align: left;
  border: 1px solid black;
  /* background-color: wheat; */
}
.sns-list{
  list-style: none;
}
/*Twitter*/
.fa-twitter{
  color:#1da1f2;
}
/*Facebook*/
.fa-facebook-square{
  color:#3b5998;
}
/*instagram*/
.fa-instagram{
  color:#e1306c;
}